<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>

  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/utakmice">Utakmice</a></li>
        <li><a href="/natjecanja">Natjecanja</a></li>
        <li><a href="/timovi">Timovi</a></li>
        <li><a href="/igraci">Igraci</a></li>
      </ul>
    </nav>
    <div class="content">{% block content %} {% endblock %}</div>
  </body>
</html>
