<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <h1>Sportski Portal</h1>
    <div id="sidebar">
      {% block sidebar %}
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/utakmice">Utakmice</a></li>
        <li><a href="/natjecanja">Natjecanja</a></li>
        <li><a href="/timovi">Timovi</a></li>
        <li><a href="/igraci">Igraci</a></li>
      </ul>
      {% endblock %}
    </div>

    <div class="content">{% block content %} {% endblock %}</div>
  </body>
</html>
