<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportski Portal</title>
</head>
<body>
    <h1>Dobrodošli na Sportski Portal SportMania</h1>
    <nav>
        <ul>
            <li><a href="{% url 'main:igraci' %}">Igrači</a></li>
            <li><a href="{% url 'main:timovi' %}">Timovi</a></li>
            <li><a href="{% url 'main:utakmice' %}">Utakmice</a></li>
            <li><a href="{% url 'main:natjecanja' %}">Natjecanja</a></li>
        </ul>
    </nav>
</body>
</html>
