<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <meta charset="UTF-8" />
    <title>Početna</title>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/utakmice">Utakmice</a></li>
        <li><a href="/natjecanja">Natjecanja</a></li>
        <li><a href="/timovi">Timovi</a></li>
        <li><a href="/igraci">Igraci</a></li>
      </ul>
    </nav>
    <h1>Početna stranica Sportskog Portala</h1>
  </br>
    
    {% if user.is_authenticated %}
    <div class="background-section">
      <div class="auth-info">
        <p>Vaše ime: {{ user.username }}</p>
        {% if user.is_superuser %}
        <p><a href="/admin-korisnik" class="auth-button">ADMIN</a></p>
        {% endif %}
        <p><a href="/logout" class="auth-button">Odjavi se</a></p>
      </div>

      <div class="content">{% block content %} {% endblock %}</div>

      {% else %}
      <p>Niste prijavljeni.</p>
      <div class="auth-buttons">
        <a href="/register" class="auth-button">Registriraj se</a>
        <a href="/accounts/login" class="auth-button">Prijavi se</a>
      </div>
      {% endif %}
    </div>
  </body>
</html>
