{% extends 'base_generic.html' %} {% block content %}
<h2>Detalji o igraču</h2>
<p class="tim"><b>Ime igrača: </b>{{ igraci.ime }}</p>
<p class="tim"><b>Prezime igrača: </b> {{ igraci.prezime }}</p>
<p class="tim"><b>Tim igrača: </b> {{ igraci.tim.naziv }}</p>
<p class="tim"><b>Broj na dresu: </b> {{ igraci.broj_dresa }}</p>

<div class="gumbi">
  <a href="{% url 'main:igrac-list' %}">
    <button type="button" class="btn btn-primary">
      Natrag na popis igrača
    </button>
  </a>
  <a href="{% url 'main:igrac-delete' igraci.pk %}">
    <button type="button" class="btn btn-danger">Obriši</button>
  </a>
  <a href="{% url 'main:igrac-update' igraci.pk %}">
    <button type="button" class="btn btn-warning">Uredi</button>
  </a>
</div>
<p>
  <a href="/logout"
    ><button type="button" class="btn btn-primary">Odjavi se</button></a
  >
</p>
{% endblock %}
