{% extends 'base_generic.html' %} {% block content %}
<h2>Natjecanja</h2>

<form method="get">
  <label for="naziv">Naziv:</label>
  <input type="text" name="naziv" id="naziv" value="{{ request.GET.naziv }}" />

  <label for="datum_pocetka">Datum početka od:</label>
  <input
    type="date"
    name="datum_pocetka"
    id="datum_pocetka"
    value="{{ request.GET.datum_pocetka }}"
  />

  <label for="datum_zavrsetka">Datum završetka do:</label>
  <input
    type="date"
    name="datum_zavrsetka"
    id="datum_zavrsetka"
    value="{{ request.GET.datum_zavrsetka }}"
  />

  <button type="submit">Filtriraj</button>
</form>
<p></p>
<hr />
<h2>Popis natjecanja</h2>
<ul>
  {% for natjecanje in natjecanja %}
  <li>
    <a href="{{ natjecanje.get_absolute_url }}">{{ natjecanje.naziv }}</a>
  </li>
  {% endfor %}
</ul>
<p><a href="/logout">Odjavi se</a></p>
{% endblock %}
