{% extends 'base_generic.html' %} {% block content %}
<h1>Detalji natjecanja: {{ natjecanje.naziv }}</h1>
<p><b>Datum početka:</b> {{ natjecanje.datum_pocetka }}</p>
<p><b>Datum završetka:</b> {{ natjecanje.datum_zavrsetka }}</p>

<h3>Utakmice u natjecanju</h3>

{% if utakmice %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Tim 1</th>
      <th>Tim 2</th>
      <th>Datum</th>
      <th>Rezultat</th>
    </tr>
  </thead>
  <tbody>
    {% for utakmica in utakmice %}
    <tr>
      <td>{{ utakmica.tim1 }}</td>
      <td>{{ utakmica.tim2 }}</td>
      <td>{{ utakmica.datum }}</td>
      <td>{{ utakmica.rezultat_tim1 }} - {{ utakmica.rezultat_tim2 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Nema utakmica u ovom natjecanju.</p>
{% endif %}
<p></p>
<div class="gumbi">
  <a href="{% url 'main:natjecanje-list' %}">
    <button type="button" class="btn btn-primary">
      Natrag na popis natjecanja
    </button>
  </a>
  <a href="{% url 'main:natjecanje-delete' natjecanje.pk %}">
    <button type="button" class="btn btn-danger">Obriši</button>
  </a>
  <a href="{% url 'main:natjecanje-update' natjecanje.pk %}">
    <button type="button" class="btn btn-warning">Uredi</button>
  </a>
</div>

<p>
  <a href="/logout">
    <button type="button" class="btn btn-primary">Odjavi se</button>
  </a>
</p>

{% endblock %}
