{% extends 'base_generic.html' %} {% block content %}
<h1>Detalji natjecanja: {{ natjecanje.naziv }}</h1>
<p><b>Datum početka:</b> {{ natjecanje.datum_pocetka }}</p>
<p><b>Datum završetka:</b> {{ natjecanje.datum_zavrsetka }}</p>
<hr />

<h3>Utakmice u natjecanju</h3>
<ul>
  {% for utakmica in utakmice %}
  <li>
    {{ utakmica.tim1 }} vs {{ utakmica.tim2 }} <br />
    Datum: {{ utakmica.datum }} <br />
    Rezultat: {{ utakmica.rezultat_tim1 }} - {{ utakmica.rezultat_tim2 }}
  </li>
  {% empty %}
  <li>Nema utakmica u ovom natjecanju.</li>
  {% endfor %}
</ul>
<hr />
<a href="{% url 'main:natjecanje-list' %}">Natrag na popis natjecanja</a>
<p><a href="/logout">Odjavi se</a></p>
{% endblock %}
