{% extends 'base_generic.html' %}
{% block content %}
<h2>Filtriraj timove</h2>
<form method="get" action="{% url 'main:tim-list' %}" class="filter-form">
  <div class="filter-container">
    <label for="naziv">Naziv:</label>
    <input type="text" name="naziv" id="naziv" value="{{ request.GET.naziv }}">

    <label for="grad">Grad:</label>
    <select name="grad" id="grad">
        <option value="">Odaberi grad</option>
        {% for grad in gradovi %}
            <option value="{{ grad }}" {% if request.GET.grad == grad %}selected{% endif %}>{{ grad }}</option>
        {% endfor %}
    </select>

    <label for="natjecanje">Natjecanje:</label>
    <select name="natjecanje" id="natjecanje">
        <option value="">Odaberi natjecanje</option>
        {% for natjecanje in natjecanja %}
            <option value="{{ natjecanje.id }}" {% if request.GET.natjecanje == natjecanje.id %}selected{% endif %}>{{ natjecanje.naziv }}</option>
        {% endfor %}
    </select>

    <button type="submit">Filtriraj</button>
  </div>
</form>

<h2>Popis timova</h2>
<table>
  <thead>
    <tr>
      <th>Naziv</th>
      <th>Grad</th>
      <th>Natjecanje</th>
      <th>Detalji</th>
    </tr>
  </thead>
  <tbody>
    {% for tim in timovi %}
    <tr>
      <td>{{ tim.naziv }}</td>
      <td>{{ tim.grad }}</td>
      <td>{{ tim.natjecanje.naziv }}</td>
      <td><a href="{{ tim.get_absolute_url }}"><button type="button">Detalji</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p class = "gumbi">
    <a href="{% url 'main:tim-create' %}">
        <button type="button">Dodaj tim</button>
    </a>
    <a href="/">
      <button type="button">Natrag na početnu stranicu</button>
    </a>
    <a href="/logout">
        <button type="button">Odjavi se</button>
    </a>
</p>
{% endblock %}