{% extends 'base_generic.html' %} {% block content %}
<p>
  <b>Utakmica: </b>{{ utakmice.tim1 }} vs {{utakmice.tim2}}
  ({{utakmice.rezultat_tim1}} - {{utakmice.rezultat_tim2}})
</p>
<p><b> Datum: </b> {{utakmice.datum}}</p>
<hr />
<div>
  <a href="{% url 'main:utakmica-list' %}">
    <button type="button" class="btn btn-primary">
      Natrag na popis utakmica
    </button>
  </a>
  <a href="{% url 'main:utakmica-delete' utakmice.pk %}">
    <button type="button" class="btn btn-danger">Obriši</button>
  </a>
  <a href="{% url 'main:utakmica-update' utakmice.pk %}">
    <button type="button" class="btn btn-warning">Uredi</button>
  </a>
</div>
<p>
  <a href="/logout"
    ><button type="button" class="btn btn-primary">Odjavi se</button></a
  >
</p>
{% endblock %}
